name: Generate Snake Animation

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch: 

jobs:
  build:
    name: Gerar o GIF da Cobrinha
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v4
      

      - uses: Platane/snk@master
        id: snake-gif
        with:

          github_user_name: Martinsz09 
          
   
          svg_out_path: dist/github-contribution-grid-snake.svg
          

      - uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output 
          build_dir: dist    
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
